@import "../../styles/mixins.pcss";

.logo {
    text-decoration: none;
    color: #003882;
    font-size: 24px;
    display: flex;
    align-items: center;

    &__icon {
        height: 62px;
        width: 62px;
        margin-right: 8px;

        * {

        };
    }




    &__label {
        align-self: center;
    }
}

.i-icon {


}



