@import "../../styles/mixins.pcss";

.social {

    &__title {
        margin-bottom: 20px;
        color: var(--c-light);
        font-weight: bold;
    }

    &__icon-group {
        display: flex;
        justify-content: flex-end;
        gap: 30px;
    }

    &__icon {
        width: 30px;
        height: 30px;
    }
}


