<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<title>Страница</title>
	<link rel="icon" href="../icons/icon-logo.svg" type="image/svg+xml">
	<link rel="apple-touch-icon" sizes="180x180" href="../icons/icon-logo.svg">
	<link rel="preload" href="../styles/fonts.pcss">
	<link rel="preload" href="../styles/vars.pcss">
	<link rel="preload" href="../styles/blocks/modal.pcss">

</head>
<body>
	<%- require("../components/header/template.ejs")() %>
	<main>
